<body>
  <section>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><a href="/" id="home-btn">Augur</a></h1>
        <p class="lead">The choice is yours.</p>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h2>Welcome to Augur</h2>
    </div>
    <form>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" aria-describedby="firstName"
          placeholder="First Name">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" aria-describedby="lastName"
          placeholder="Last Name">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" id="signup-btn">Submit</button>
    </form>
  </section>
  <script src='/js/signup.js'></script>