:root {
    --purple: #300350;
    --dark-pink: #94167F;
    --medium-pink: #E93479;
    --pink: #ee65ac;
    --blue: #153CB4;
    --medium-blue: #00b8ff;
    --light-blue: #00fff9;
    --yellow: #F9AC53;
    --dark-grey: #333533;
}

body {
    padding-bottom: 70px;
    background-color: var(--dark-grey);
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: var(--dark-grey);
}

h1 {
    color: var(--medium-pink);
}

.lead{
    color: var(--light-blue);
}

.top-btn {
    justify-content: left;
}

form {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

label {
    color: var(--light-blue);
}

input {
    background-color: var(--dark-grey)!important;
    color: whitesmoke!important;
    border-color: var(--medium-pink) !important;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

.nav-item {
    margin: 5px 15px;
}

.card {
    align-items: center;
    background-color: var(--dark-grey) !important;
    border-color: var(--medium-pink) !important;
    display: flex;
}

.card-deck {
    justify-content: center;
}

.search {
    padding: 10px;
}

.btn {
    margin: 5px;
}

#login-btn {
    padding: 20px 50px;
    background-color: var(--dark-grey) !important;
    border-color: var(--light-blue)!important;
    color: var(--light-blue)!important;
}

#ticker-search {
    background-color: var(--dark-grey) !important;
    border-color: var(--light-blue)!important;
    color: var(--light-blue)!important;
}

#menu-btn,
#predict-btn {
    background-color: var(--dark-grey) !important;
    border-color: var(--medium-pink)!important;
    color: var(--medium-pink)!important;
}

#nav-home-btn,
#nav-predict-btn,
#nav-portfolio-btn,
#nav-logout-btn,
#nav-login-btn,
#nav-signup-btn {
    background-color: var(--dark-grey) !important;
    border-color: var(--light-blue)!important;
    color: var(--light-blue)!important;
    cursor: pointer;
}

.row {
    justify-content: center;
}

.choice-header {
    padding: 30px, 15px;
    margin: 10px;
    text-align: center;
}

#predict-btn {
    align-items: center;
}

.card-body {
    background-color: var(--dark-grey) !important;
    border-color: var(--medium-pink) !important;
}

#current-price {
    color: var(--medium-pink) !important;
}

.port-info {
    color: var(--pink) !important;
}

.pred-label{
    color: var(--light-blue) !important;
}

#predict-card {
    color: var(--light-blue) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--medium-pink);
  -webkit-text-fill-color: whitesmoke;
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-grey) inset;
  background-color: var(--dark-grey);
  caret-color: whitesmoke;
}

#prediction-header {
    text-decoration: underline;
    padding: 10px 0;
}

#open-pred-title {
    color: var(--light-blue);
}

#prediction-symbol{
    color: var(--medium-blue);
}